body{ font-family:"Open Sans",Arial,sans-serif;
  font-weight:400;
      color:#444;
      font-size:1em;
    }


h1{font-size:3em;
    color:#33485e;
    text-align:center;
    text-transform:uppercase;
}

strong {text-transform:uppercase;
      font-size:1.53em;
      color:#33485e
    }

h2{font-size:1.5em;
  text-transform:uppercase;
  background-color:#33485e;
  color:#fff;
  font-weight:700;
}

h3{font-size:1.5em;
   font-weight:600;
   }

h4{font-weight: 400;
   font-size: 1.53em;
}

h5{font-size:1em;
  font-weight: 400;
  font-style: italic;
}

ul{font-size:1em;
}
