body{ font-family:"Open Sans",Arial,sans-serif;
  font-weight:400;
      color:#black;
      font-size:1em;
    }

#container{width:100%;
          max-width: 1000px;
          margin:0 auto;

}
#name{font-size:3em;
    color:#33485e;
    text-align:center;
    text-transform:uppercase;
    border-bottom: 1px solid #33485e;
    width: 60%;
    min-width:300px;
    margin: 0 auto;
}

#title {text-transform:uppercase;
      text-align:center;
      font-size:1.53em;
      font-weight:600;
      margin-top:
      color:#33485e
    }

.sectionheader{font-size:1.5em;
  border-bottom:10px;
  border-top:20px;
  margin-top: 0 auto;
  margin-bottom: 0 auto;
  margin-left:0 auto;
  margin-right:0 auto;
  width:70%;
  min-wdth:300px;
  text-transform:uppercase;
  background-color:#33485e;
  color:#fff;
  font-weight:700;
}

.jobtitle{font-size:1.5em;
   font-weight:600;
   }

.organization{font-weight: 400;
   font-size: 1.25em;
}

.date{font-size:1em;
  margin-top: 2px;
  margin-left: 0 auto;
  margin-right: 0 auto;
  font-weight: 400;
  font-style: italic;
}

.description{ margin-top:10px;
              margin-bottom: 10px;
              margin-left: 0 auto;
              margin-right: 0 auto;

}
.menu {margin: 0 auto;
       padding: 10px;
       text-align:center;
  }
.items{
       display: inline;
     }
#degrees{margin-top: 5px;
        margin-bottom: 0 auto;
        margin-left: 0 auto;
        margin-right: 0 auto;
}

#do {margin-top: 5px;
    margin-right: 0 auto;
    margin-left: 0 auto;
    margin-bottom: : 0 auto;
}

.top {width: 60%;
        min-width: 300px;
        margin-right: 0 auto;
        margin-left: 0 auto;
        margin: 0 auto;
        margin-bottom: 30px;
}
